.card-custom{
  border-bottom: 1px solid #DFE1E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.img-custom{
  width: 230px;
  height: 250px;
  object-fit: contain;
}

.cuadro-imagen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-file-input{
  overflow: auto;
}
